<ion-header>
    <ion-toolbar>
        <ion-title>Classmate</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-avatar>
                <img [src]="classmate?.avatar" [alt]="classmate?.name" />
            </ion-avatar>
            <h1>{{classmate?.name}}</h1>
        </ion-card-header>
        <ion-card-content>

            <ion-item>
                <ion-text>{{classmate?.profile}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Age</ion-label>
                <ion-text>{{classmate?.age}}</ion-text>
            </ion-item>
            <ion-item>
                <ion-label>Hobbies</ion-label>
                <ion-text>{{classmate?.hobbies}}</ion-text>
            </ion-item>
        </ion-card-content>

    </ion-card>
</ion-content>